	<!-- Start Header Area -->
<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href='@Url.Action("Index","Index")'><img src="@Url.Content("~/Content/img/logo.png")" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href='@Url.Action("Index","Index")'>Inicio</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Compras</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href='@Url.Action("Category","Category")'>Categoria de compras</a></li>
                                <li class="nav-item"><a class="nav-link" href='@Url.Action("Single","Single")'>Detalles del producto</a></li>
                                <li class="nav-item"><a class="nav-link" href='@Url.Action("Checkout","Checkout")'>Producto Checkout</a></li>
                                <li class="nav-item"><a class="nav-link" href='@Url.Action("Cart","Cart")'>Carrito de compras</a></li>
                                <li class="nav-item"><a class="nav-link" href='@Url.Action("Confirmation","Confirmation")'>Confirmacion</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Lista de deseos</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href='@Url.Action("Wishlist","Wishlist")'>Lista de deseos</a></li>
                                <li class="nav-item"><a class="nav-link" href='@Url.Action("Index","Categorias")'>Categoria de producto</a></li>
                                <li class="nav-item"><a class="nav-link" href='@Url.Action("Index","Clientes")'>Clientes</a></li>
                                <li class="nav-item"><a class="nav-link" href='@Url.Action("Index","DetallesOrdenes")'>Detalles ordenes</a></li>
                                <li class="nav-item"><a class="nav-link" href='@Url.Action("Index","Ordenes")'>Ordenes</a></li>
                                <li class="nav-item"><a class="nav-link" href='@Url.Action("Index","Producto")'>Producto</a></li>
                                <li class="nav-item"><a class="nav-link" href='@Url.Action("Index","Suplidor")'>Suplidor</a></li>
                                <li class="nav-item"><a class="nav-link" href='@Url.Action("Index","Carriers")'>Carriers</a></li>
                            </ul>
                        </li>
                  
                        <li class="nav-item"><a class="nav-link" href='@Url.Action("Contact","Contact")'>Contacto</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a href='@Url.Action("Cart","Cart")' class="cart"><span class="ti-bag"></span></a></li>
                        <li >@Html.Partial("_LoginPartial")</li> 
                        <li class="nav-item">
                            <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="search_input" id="search_input_box">
        <div class="container">
            <form class="d-flex justify-content-between">
                <input type="text" class="form-control" id="search_input" placeholder="Buscar aqui">
                <button type="submit" class="btn"></button>
                <span class="lnr lnr-cross" id="close_search" title="Cerrar busqueda"></span>
            </form>
        </div>
    </div>
</header>
<!-- End Header Area -->
