@model IEnumerable<Karma.Models.Ordenes>

@{
    ViewBag.Title = "Indice";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shop Ordenes page</h1>
                <nav class="d-flex align-items-center">
                    <a href='@Url.Action("Index","Index")'>Inicio<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#"><span class="lnr lnr-arrow-right"></span></a>
                    <a href='@Url.Action("Index","Ordenes")'>Ordenes</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<p>
    @Html.ActionLink("Agregar nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaOrdenes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRequeida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEnvio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreEnvio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DireccionEnvio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvinciaEnvio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MunicipioEnvio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoPostalEnvio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaisEnvio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carrier.NombreCarrier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Empresa)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaOrdenes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRequeida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvinciaEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MunicipioEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPostalEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaisEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrier.NombreCarrier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Empresa)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Ordenes", new { id = item.OrdenesID })" class="btn btn-success btn-sm active" role="button" aria-pressed="true">Editar</a>
                <a href="@Url.Action("Details", "Ordenes", new { id = item.OrdenesID  })" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Detalles</a>
                <a href="@Url.Action("Delete", "Ordenes", new { id = item.OrdenesID  })" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">Eliminar</a>
            </td>
        </tr>
    }

</table>
